
  <%= render :partial => 'templates.js.html' %>

  <div id = 'partial-container' class = 'span-24'>
    <div id = 'partial-body' class = 'radius'></div>
    <div class = 'span-24 radius'>
      <% 550.times do |i| %>
        <div class = 'tile odd' > &nbsp; </div> 
        <div class = 'tile even'> &nbsp; </div>
      <% end %>
    </div>
  </div>

  <div id = 'audio-container'></div>
  

