
  <script type="text/template" id = 'login_template'>
    <form>
     <ul>
       <li id = 'prompt' class = 'spacer' > <h3> &nbsp; Log In:</h3> </li>
       <li> &nbsp; username <input class = 'input'></input> </li>
       <li> &nbsp; password <input class = 'input' type = 'password'></input> </li>
     </ul>
    </form>
  </script>

  <script type="text/template" id = 'register_template'>
    <form>
     <ul>
       <li id = 'prompt' class = 'spacer' > <h3> &nbsp; Register:</h3> </li>
       <li> &nbsp; username <input class = 'input'></input> </li>
       <li> &nbsp; password <input class = 'input' type = 'password'></input> </li>
     </ul>
    </form>
  </script>

  <script type="text/template" id = 'home_template'>
    <div id = 'home-partial'>
      <h3>Welcome Home!</h3>
      <ul>
        <li><button id = 'home-to-practice'>Practice Your Vim Skills</button></li>
      </ul>
    <div>
  </script>

  <script type="text/template" id = 'practice_template'>
    <div id = 'practice-partial'>
      <h3>Practice!</h3>
      <div id='draw-target'>
        <div id='ruby_count' style = 'position:absolute; top:110%; left:0%;'>
        </div>
      </div>
    </div>
  </script>
