  <div id="tabs"></div>
  <%= render :partial => 'templates.js.html' %>
  <script>
    $(function() {
      App.page_tab = new App.TabPageView();
      App.Diagnostics.View = new App.DiagnosticsView();
    });
  </script>
