#side-stepping-container{
  color:white;
}

#lunging-container{
  color:yellow;
}

#teleporting-container{
  color:purple;
}

#teleporting-container{
  color:purple;
}

#short-attack-container{
  color:orange;
}

#long-attack-container{
  color:red;
}

#basic-magic-container{
  color:brown;
}

#advanced-magic-container{
  color:black;
}

#user_header {
  background-image: url( grass.png );
  background-size: 60%;
  height:100%;
}

#letter-container {
  margin-top:-15px;
}

#dojo {
  color: black;
  margin-top:100px;
  background-image: url( dojo.png );
  background-size: 100%;
  min-height:350px;
}
