#side-stepping-container{
  color:black;
  text-shadow: black 0.1em 0.1em 0.2em !important;
}

#lunging-container{
  color:black;
}

#teleporting-container{
  color:black;
}

#short-attack-container{
  color:black;
}

#long-attack-container{
  color:black;
}

#basic-magic-container{
  color:rgba(0,0,0,0);
}

#advanced-magic-container{
  color:rgba(0,0,0,0);
}

#user_header {
  background-image: url( grass.png );
  background-size: 60%;
  height:100%;
}

#letter-container {
  margin-top:-15px;
}

#dojo {
  color: black;
  margin-top:100px;
  /*background-image: url( dojo.png );
  background-size: 100% 100%;*/
  height:280px;
}
