      table { 
        background-color:black;
        padding-top:0;
        margin-top:0;
      }

      #kikuchiyo {
        /*padding-left:-10px;
        margin-right:-60px; 
        margin-bottom:-60px; 
        padding-bottom:-60px; 
        padding-right:-60px;*/
        background-repeat:no-repeat-y;
        /*background-size:595px 345px;*/
        overflow-x:hidden;
        overflow-y:hidden;
      }      

      html {
        padding:0;
        margin:0;
        width:100%; 
        height:700px; 
        position:absolute;
        overflow:hidden;
        background-repeat: no-repeat;
      }

        body {
          /*position:absolute;*/
          width:97%;
          height:650px;
          margin-left:1.5%;
          /*padding-left:1.5%;*/
          margin-right:1.5%;
          /*padding-right:1.5%;*/
          background-color:white;
          -moz-border-radius: 2px; 
          -webkit-border-radius: 2px; 
          -khtml-border-radius: 2px; 
          border-radius: 2px;	
          border-color: black;
          background: black;
          background-repeat: no-repeat;
          background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
          background: -webkit-linear-gradient(black, white);
          background: -moz-linear-gradient(black, white);
          background: -ms-linear-gradient(black, white);
          background: -o-linear-gradient(black, white);
          background: linear-gradient(black, white);
          -pie-background: linear-gradient(black, white);
        }

          #container  { 
            background-repeat: no-repeat;
            /*position:absolute;*/
            width:95% !important;
            margin-right:2.5% !important;
            margin-left:2.5% !important;
            height:600px; 
            background-color:white; 
            margin:0; padding:0;
          }

            #header-container { 
              width:100%;
              height:200px; 
            }
            
              td#header-right {
                /*float:left;*/
                background-image:url('kikuchiyos_way_header.png'); 
                background-repeat:no-repeat;
                background-size:600px 200px;
                padding:0px; padding-bottom:20px;
                margin:0px; margin-bottom:20px;
                /*width:50%;*/
              }

              td#header-left {
                margin:0px; margin-bottom:20px;
                padding:0px; padding-bottom:20px;
                clear:none;
                background-image:url('black_shim.png'); 
                background-repeat:repeat-x;
                background-size:600px 200px;
              }

            #navlist { 
              float:left; padding-bottom:0px; padding-left:20px; padding-top:4%;
            }

            #navlist ul { 
              margin:0; padding:0; padding-left:10px; margin-left:10px;
            }

            #navlist li {
              color:red; list-style:none; display:inline; padding-bottom:0px; 
            }

              button {
                font-size:20px;
                font-weight:bold;
                color:black;
              }

              .radius {
                -moz-border-radius: 2px; 
                -webkit-border-radius: 2px; 
                -khtml-border-radius: 2px; 
                border-radius: 2px;
              }
              .gradiant-brown {
                -moz-border-radius: 2px; 
                -webkit-border-radius: 2px; 
                -khtml-border-radius: 2px; 
                border-radius: 2px;	
                border-color: white;
                background: white;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(white));
                background: -webkit-linear-gradient(white, white);
                background: -moz-linear-gradient(white, white);
                background: -ms-linear-gradient(white, white);
                background: -o-linear-gradient(white, white);
                background: linear-gradient(white, white);
                -pie-background: linear-gradient(white, white);
              }

              .gradiant-black-white {
                -moz-border-radius: 2px; 
                -webkit-border-radius: 2px; 
                -khtml-border-radius: 2px; 
                border-radius: 2px;	
                border-color: white;
                background: black;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(black));
                background: -webkit-linear-gradient(white, black);
                background: -moz-linear-gradient(white, black);
                background: -ms-linear-gradient(white, black);
                background: -o-linear-gradient(white, black);
                background: linear-gradient(white, black);
                -pie-background: linear-gradient(white, black);
              }
              .gradiant-black {
                -moz-border-radius: 2px; 
                -webkit-border-radius: 2px; 
                -khtml-border-radius: 2px; 
                border-radius: 2px;	
                border-color: white;
                background: black;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
                background: -webkit-linear-gradient(black, white);
                background: -moz-linear-gradient(black, white);
                background: -ms-linear-gradient(black, white);
                background: -o-linear-gradient(black, white);
                background: linear-gradient(black, white);
                -pie-background: linear-gradient(black, white);
              }
              .gradiant {
                -moz-border-radius: 2px; 
                -webkit-border-radius: 2px; 
                -khtml-border-radius: 2px; 
                border-radius: 2px;	
                border-color: white;
                background: black;
                background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
                background: -webkit-linear-gradient(black, white);
                background: -moz-linear-gradient(black, white);
                background: -ms-linear-gradient(black, white);
                background: -o-linear-gradient(black, white);
                background: linear-gradient(black, white);
                -pie-background: linear-gradient(black, white);
              }

            #partial-body { 
              color:white;
              clear:both;
              /*margin-left:25%; 
              margin-right:25%; */
            }

            #partial-body ul { 
              list-style:none;
              margin-left:0px;
            }

            #partial-body ul, #partial-body li { 
              margin-left:0px; 
              padding-left:0px; 
              height:10%; 
              padding-bottom:20px;
            }

            label.label { 
              height:10%; 
              width:20%; 
              margin-top:0px; 
              margin-botton:0px; 
              padding-top:0px; 
              padding-botton:0px;
            }

            .input { 
              height:10%; 
              width:24%; 
              margin-right:10px; 
              clear:none; 
              margin-top:0px; 
              margin-botton:0px; 
              padding-top:0px; 
              padding-botton:0px;
            }

            h3 { margin-left:0px; margin-bottom:0px; }

            .spacer { 
              height:1px; padding-top:1%; 
              padding-bottom:0; 
              margin-top:0; 
              margin-bottom:0; 
              color:white;
            }

        #partial-container {
          background-image:url('gradiant_horizontal_fade.png');
          background-size:100%;
          height:90%;
          margin-top:0px;
        }
          #partial-container div {
            padding-top:1%;
            padding-left:1%;
            margin-top:16px;
          }

          #practice-partial, #home-partial {background-image:url(grid.gif); top:25%; min-height:400px;}
          #draw-target { padding-right:-10px; margin-right:-10px; padding-left:0px; margin-left:0px;}
