#visual_mode {
  position:absolute;
  background-color:rgba(0,250,154,0.1);
  height:60px;
  width:60px;
}

.power_ball {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 2s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

#the_end {
  font-family: Brush Script MT;
  text-shadow: yellow 0.1em 0.1em 0.2em !important;
  background-color:white;
  background: -webkit-gradient(linear, left center, right center, from(black), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, black, rgba(0,0,0,0) );
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
p.ruby {
  position:relative !important;
}

#intro {
  padding-top:350px;
}

html {
  background-color:black !important;
  background-image:url(grass.png) !important;
  background-size:95% !important;
  background-position:center !important;
  /*background: -webkit-gradient(linear, left center, right center, from(white), to(black)) !important;
  background: -moz-linear-gradient(left, white, black ) !important;
  background-position:bottom left !important;*/
  width:100%;
}

body {
  /*background:url(night_grass.jpg) !important;*/
}

#a-key {
  margin-top:-200px;
  margin-left:400px;
  background:url('/assets/blood.png');
  background-size:100%;
  border:none;
}

#side-stepping-container {
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:white;
  background: -webkit-gradient(linear, left center, right center, from(white), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, white, rgba(0,0,0,0) );
}

#lunging-container{
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:yellow;
  background: -webkit-gradient(linear, left center, right center, from(yellow), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, yellow, rgba(0,0,0,0) );
  /*background: -webkit-linear-gradient(yellow, white);
  background: -moz-linear-gradient(yellow, white);
  background: -ms-linear-gradient(yellow, white);
  background: -o-linear-gradient(yellow, white);
  background: linear-gradient(yellow, white);
  -pie-background: linear-gradient(yellow, white);*/

}

#short-attack-container{
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:green;
  background: -webkit-gradient(linear, left center, right center, from(green), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, green, rgba(0,0,0,0) );
  /*background: -webkit-linear-gradient(orange, white);
  background: -moz-linear-gradient(orange, white);
  background: -ms-linear-gradient(orange, white);
  background: -o-linear-gradient(orange, white);
  background: linear-gradient(orange, white);*/
  -pie-background: linear-gradient(orange, white);
}

#teleporting-container{
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:orange;
  background: -webkit-gradient(linear, left center, right center, from(orange), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, orange, rgba(0,0,0,0) );
  /*background: -webkit-linear-gradient(purple, white);
  background: -moz-linear-gradient(purple, white);
  background: -ms-linear-gradient(purple, white);
  background: -o-linear-gradient(purple, white);
  background: linear-gradient(purple, white);
  -pie-background: linear-gradient(purple, white);*/

}

#long-attack-container {
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:blue;
  background: -webkit-gradient(linear, left center, right center, from(blue), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, blue, rgba(0,0,0,0) );
}

#basic-magic-container{
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:brown;
  background: -webkit-gradient(linear, left center, right center, from(brown), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, brown, rgba(0,0,0,0) );
}

#advanced-magic-container{
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  margin-bottom:10px;
  height:30px;
  background:white;
  background: -webkit-gradient(linear, left center, right center, from(black), to(rgba(0,0,0,0)));
  background: -moz-linear-gradient(left, black, rgba(0,0,0,0) );
}

#fb-root {
  color:white;
}

.fb-like {
  margin-top:0px; 
  color:white;
}

#key-description {
  margin-top:30px;
}

#user_stats_container {
  width:200px;
  position:absolute;
}

#walking_slow p {
  color:white;
  text-shadow: black 0.1em 0.1em 0.2em !important;
}

ul.list_container li.white ul.inline li{
  color:#FFCC33 !important;
}
ul.inline li {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word; 

}
#map-header h2 {
  color:white;
  font-family: Brush Script MT;
}

#map img {
  margin-top: -6px;
  margin-left: -10px;
}

#user_stats h5 {
  padding-top:10px;
  padding-left:10px;
  color:white !important;
}

.blood {
  background-image:url( 'blood_small.png' );
}

ul.list_container {
  list-style-image:url( 'blood_small.png' );
}

ul.inline li, #user_stats li {
  display:inline;
  padding-right:10px; 
  color:#CCFF00;
}

#curtain_container{
  position:absolute; 
  padding-left:320px; 
  padding-top:160px;
}

#curtain {
  padding:2px;
  /*border-radius: 200px 200px;*/
  height:250px;
  width:250px;
  z-index: 99;
}

#user_stats {
  list-style: none;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute; 
  left: 35%; 
  top: -290%; 
  height:300px;
  z-index: 99;
  margin-left: 0; width: 750px;
  background: rgba(0, 0, 0, 0.7); border: 1px solid #FFAD33; 
}

.tooltip {
  border-bottom: 1px dotted #000000; color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
}

.tooltip:hover span {
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute; left: 1em; top: 2em; z-index: 99;
  margin-left: 0; width: 250px;
}

.tooltip:hover img {
  border: 0; margin: -10px 0 0 -55px;
  float: left; position: absolute;
}

.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
  display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
    
p {  text-shadow: black 0.1em 0.1em 0.2em !important; }
#user-navigation-container {height:90px !important; /*position:absolute;*/}
#user-navigation-container h3 {color:white !important;}

#fate {
  color:black !important; 
  text-shadow: silver 1px 0px 1px !important;
}

#welcome-text {
  padding-left:230px; 
  font-size: 30px; 
  margin-top:0px; 
  position:absolute; 
  font-family: Brush Script MT; 
  color:gray !important; 
}

#lesson{
  position:absolute;
  top:20px;
}

#header-bottom{ 
  margin-top:-40px !important;
}

#fotter { margin-top:-90px !important;}

.key { 
  cursor:pointer !important;
  /*border-left:1px dashed black;
  border-right:1px dashed black;*/
  /*background:white;
  background: -webkit-gradient(linear, left center, right center, from(white), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(white, rgba(0,0,0,0));
  background: -moz-linear-gradient(white, rgba(0,0,0,0));
  background: -ms-linear-gradient(white, rgba(0,0,0,0));
  background: -o-linear-gradient(white, rgba(0,0,0,0));
  background: linear-gradient(white, rgba(0,0,0,0));
  -pie-background: linear-gradient(white, rgba(0,0,0,0));
  */

}

.hide {
  display:none;
}

#map {
  margin-top:0px;
  background:red;
  padding-top:30px;
  padding-bottom:30px;
  padding-right:60px;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 20px;
  border-color: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(green), to(white));
  background: -webkit-linear-gradient(green, white);
  background: -moz-linear-gradient(green, white);
  background: -ms-linear-gradient(green, white);
  background: -o-linear-gradient(green, white);
  background: linear-gradient(green, white);
  -pie-background: linear-gradient(green, white);

}

.next-page {
  position:absolute !important;
  bottom:0px;
}

.next-page:hover { 
  background-image: url(assets/letter-l-icon.png);
  background-color:#7CFC00;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 20px;
  border-color: black;

}

.text {color:white !important;}
#user-navigation h4 {color:white !important;}
#keys {margin-top:20px !important;}
img.clickable {cursor:pointer;}
div.error_messages {margin-top:0px !important; padding-top:0px !important; top:-10px !important;}
div.error_messages ul li{ color:red; }
div.tile {
  border:solid 1px green !important;
  margin:0px !important;
  height:10px !important; 
  width:10px !important; 
  clear:none !important; 
  float:left !important;
}

div.display {width:100% !important;}

div.even, div.odd {background-color:black;}

#notice {color:red;}

#create-account, #log-in, #sign-up {
  color:#0066CC !important; border-bottom:0px; padding-bottom:0px; top: 20px;
}

label {color:#0066CC !important;}

table { 
  background-color:black;
  padding-top:0;
  margin-top:0;
}

#kikuchiyo {
  background-repeat:no-repeat-y;
  overflow-x:hidden;
  overflow-y:hidden;
}      

html {
  padding:0;
  margin:0;
  width:100%; 
  background-color:white; 
  height:100%; 
}

body {
  font-size:100%;
  color:black;
  height:100%;
  background-color:white;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;	
  border-color: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
  background: -webkit-linear-gradient(black, white);
  background: -moz-linear-gradient(black, white);
  background: -ms-linear-gradient(black, white);
  background: -o-linear-gradient(black, white);
  background: linear-gradient(black, white);
  -pie-background: linear-gradient(black, white);
}

#container  { 
  background-repeat: no-repeat;
  background-color:white; 
  margin:0; padding:0;
}

#header-container { 
  position:absolute;
  top:0;
  height:30px; 
  background-image:url('kikuchiyos_way_header.png'); 
  background-repeat:no-repeat;
  background-color:black;
  background-size:200px;
  padding:0px; padding-bottom:20px;
  margin:0px; margin-bottom:20px;
}
            
#header-right {
  background-image:url('kikuchiyos_way_header.png'); 
  background-repeat:no-repeat;
  background-size:600px 200px;
  padding:0px; padding-bottom:20px;
  margin:0px; margin-bottom:20px;
}

#header-left {
  margin:0px; margin-bottom:20px;
  padding:0px; padding-bottom:20px;
  clear:none;
  background-image:url('black_shim.png'); 
  background-repeat:repeat-x;
  background-size:600px 200px;
}

#navlist { 
  float:left; padding-bottom:0px; padding-left:20px; padding-top:4%;
}

#navlist ul { 
  margin:0; padding:0; padding-left:10px; margin-left:10px;
}

#navlist li {
  color:red; list-style:none; display:inline; padding-bottom:0px; 
}

button {
  font-weight:bold;
  color:black;
}

.radius {
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;
}

.radius-black {
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  -khtml-border-radius: 20px; 
  border-radius: 20px;	
  border-color: black;
  background: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(black));
  background: -webkit-linear-gradient(black, black);
  background: -moz-linear-gradient(black, black);
  background: -ms-linear-gradient(black, black);
  background: -o-linear-gradient(black, black);
  background: linear-gradient(black, black);
  -pie-background: linear-gradient(black, black);
}

.gradiant-brown {
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;	
  border-color: white;
  background: white;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(white));
  background: -webkit-linear-gradient(white, white);
  background: -moz-linear-gradient(white, white);
  background: -ms-linear-gradient(white, white);
  background: -o-linear-gradient(white, white);
  background: linear-gradient(white, white);
  -pie-background: linear-gradient(white, white);
}

.gradiant-black-white {
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;	
  border-color: green;
  background: white;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(green), to(white));
  background: -webkit-linear-gradient(green, white);
  background: -moz-linear-gradient(green, white);
  background: -ms-linear-gradient(green, white);
  background: -o-linear-gradient(green, white);
  background: linear-gradient(green, white);
  -pie-background: linear-gradient(green, white);
}

.gradiant-green-black {
  -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
  -khtml-border-radius: 12px; 
  border-radius: 12px;	
  border-color: blue;
  background: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(blue), to(black));
  background: -webkit-linear-gradient(blue, black);
  background: -moz-linear-gradient(blue, black);
  background: -ms-linear-gradient(blue, black);
  background: -o-linear-gradient(blue, black);
  background: linear-gradient(blue, black);
  -pie-background: linear-gradient(blue, black);
}

.gradiant-black {
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;	
  border-color: white;
  background: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
  background: -webkit-linear-gradient(black, white);
  background: -moz-linear-gradient(black, white);
  background: -ms-linear-gradient(black, white);
  background: -o-linear-gradient(black, white);
  background: linear-gradient(black, white);
  -pie-background: linear-gradient(black, white);
}

.gradiant {
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -khtml-border-radius: 2px; 
  border-radius: 2px;	
  border-color: white;
  background: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(white));
  background: -webkit-linear-gradient(black, white);
  background: -moz-linear-gradient(black, white);
  background: -ms-linear-gradient(black, white);
  background: -o-linear-gradient(black, white);
  background: linear-gradient(black, white);
  -pie-background: linear-gradient(black, white);
}


#partial-body ul { 
  list-style:none;
  margin-left:0px;
}

#partial-body ul, #partial-body li { 
  margin-left:0px; 
  padding-left:0px; 
  height:10%; 
  padding-bottom:20px;
}

label.label { 
  height:10%; 
  width:20%; 
  margin-top:0px; 
  margin-botton:0px; 
  padding-top:0px; 
  padding-botton:0px;
}

.input { 
  height:10%; 
  width:24%; 
  margin-right:10px; 
  clear:none; 
  margin-top:0px; 
  margin-botton:0px; 
  padding-top:0px; 
  padding-botton:0px;
}

h3 { margin-left:0px; margin-bottom:0px; }

.spacer { 
  height:1px; padding-top:1%; 
  padding-bottom:0; 
  margin-top:0; 
  margin-bottom:0; 
  color:white;
}

#partial-container {
  background-size:100%;
  height:90%;
  margin-top:0px;
}

#partial-container div {
  padding-top:1%;
  /*padding-left:1%; */
  margin-top:16px;
}

canvas {
  background:url(/assets/wood_floor.jpg) !important;
  background-size:95% !important;
  background-position:center !important;
}

#score-board-list {
  text-shadow: green 2px 0px 10px !important;
  color:yellow;
  z-index:900;
  height:25px;
  background-image:url(grass.png) !important;
  background-size:100% !important;
  margin-top: -130px;
  /*border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;*/
  margin-left: 450px;
}

#score-board-list li {
  background-color:black;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
}
#score-board {
  background-image:url(grass.png) !important;
  color:white;
  padding-right:-10px; 
  margin-right:-100px; 
  padding-left:0px; 
  margin-left:-100px;
  width:120% !important;
}

#draw-target { 
  postition:absolute;
  left:0;
  padding-right:-10px; 
  margin-right:-100px; 
  padding-left:0px; 
  margin-left:-100px;
  margin-top:200px;
  width:120% !important;
  /*height:190px !important;*/
  height:100%;
  background:url(/assets/wood_floor.jpg) !important;
  background-size:95% !important;
  background-position:center !important;
}
