<!doctype html>
<html  class = 'gradiant'>
  <head>
    <title> Kikuchiyos Way </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META NAME="KEYWORDS" CONTENT="fun, free, vim, game, vim game, vim-game, kikuchiyo, open-source, open source, equal-opportunity, equal opportunity, equal opportunity education">
    <META NAME="DESCRIPTION" CONTENT="vim game">
    <TITLE>kikuchiyos way</TITLE>
    <META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="EN">
    <META NAME="revisit-after" CONTENT="14 days">
    <META NAME="robots" CONTENT="all">
    <META NAME="Author" CONTENT="kikuchiyo">
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Julius+Sans+One'/>
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ruthie'/>
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Mr+Dafoe'/>
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Comfortaa'/>

    <!-- vim game -->
    <%#= stylesheet_link_tag "screen" %>
    <%#= stylesheet_link_tag "index"  %>
    <%= stylesheet_link_tag "layout"  %>
    <%= stylesheet_link_tag "form"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>Vim Agility Game</header>
    <%= yield %>
  </body>
</html>
