<!doctype html>
<html  class = 'gradiant'>
  <head>
    <title> Kikuchiyos Way </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META NAME="KEYWORDS" CONTENT="fun free vim game kikuchiyo open-source equal-opportunity education">
    <META NAME="DESCRIPTION" CONTENT="vim game">
    <TITLE>kikuchiyos way</TITLE>
    <META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="EN">
    <META NAME="revisit-after" CONTENT="14 days">
    <META NAME="robots" CONTENT="all">
    <META NAME="Author" CONTENT="kikuchiyo">
    <!-- vim game -->

    <%= stylesheet_link_tag "screen" %>
    <%= stylesheet_link_tag "index"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = 'container'>
      <div id = 'header-container' class = 'span-24'></div>
      <%= yield %>
    </div>
  </body>
</html>
