<!doctype html>
<html  class = 'gradiant'>
  <head>
    <title> Kikuchiyos Way </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag "screen" %>
    <%= stylesheet_link_tag "index"  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = 'container'>
      <div id = 'header-container' class = 'span-24'></div>
      <%= yield %>
    </div>
  </body>
</html>
